<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<table style="width:auto">
  <tr>
    <td id="sidebar" class="panel sidebar fixed_width_panel" style="width: 10.3045%;">
      <div class="panelHeaderRight"></div><div class="panelHeaderLeft"></div>
      <div class="panelHeader">
        <div id="sidebar_title"><a href="javascript:void(0);" class="closePanel panelLink" id="sidebar_close" title="Close panel">
                      </a><span class="panelTitle">LABELS &amp; SEARCHES</span>
                      <span class="external_icon"></span>
        </div>
      </div>
      <div class="list" style="height: 349px;">
        <div class="btm">
          <div class="right"></div>
          <div class="left"></div>
          <div class="mid"></div>
        </div>
        <div class="items">
          <div class="list_item">

          </div>
          </div>
        </div>
    </td>
      <div style="">DONE stories
        <div>
          <DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>

        </div></div>
    </td>
    <td id="current_slide" style="width:170px; border: 1px solid black; padding-right: 7px; padding-left:7px; height:auto;">
      <div style="height:100%">CURRENT stories
      <div>
          <DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>

        </div></div>
    </td>
    <td id="mywork_slide" style="width:170px; border: 1px solid black; padding-right: 7px; padding-left:7px; height:auto;">
      <div style="height:100%">MY WORK stories
      <div>
          <DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>

        </div></div>
    </td>
    <td id="history_slide" style="width:170px; border: 1px solid black; padding-right: 7px; padding-left: 7px; height:auto;">
      <div style="height:100%">PROJECT HISTORY stories
      <div>
          <DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>
<DL>
   <DT>Center
   <DT>Centre
   <DD> A point equidistant from all points
              on the surface of a sphere.
   <DD> In some field sports, the player who
              holds the middle position on the field, court,
              or forward line.
</DL>

        </div></div>
    </td>
  </tr>
</table>



<%#*<p>%>
  <%#*<b>Is archived:</b>%>
  <%#=h @project.is_archived %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Profile content:</b>%>
  <%#=h @project.profile_content %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Allow attachments:</b>%>
  <%#=h @project.allow_attachments %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Start date:</b>%>
  <%#=h @project.start_date %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Time zone:</b>%>
  <%#=h @project.time_zone %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Iteration length:</b>%>
  <%#=h @project.iteration_length %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Point scale:</b>%>
  <%#=h @project.point_scale %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Initial velocity:</b>%>
  <%#=h @project.initial_velocity %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Velocity scheme:</b>%>
  <%#=h @project.velocity_scheme %>
<%#*</p>%>

<%#*<p>%>
  <%#*<b>Done iterations:</b>%>
  <%#=h @project.done_iterations %>
<%#*</p>%>


<%#= link_to 'Edit', edit_project_path(@project) %> |
<%#= link_to 'Back', projects_path %>
